/* Root Styling */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap");
:root {
  --text-shadow-color: rgb(32, 226, 233);
  --font-color: rgba(236, 245, 245, 0.918);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-family: Barlow;
  font-size: 1.3rem;
  color: var(--font-color);
  text-shadow: 2px 2px 10px var(--text-shadow-color),
    4px 4px 10px var(--text-shadow-color), 6px 6px 10px var(--text-shadow-color);
}
.flex {
  display: flex;
}

/* Box Styling */
.container {
  height: 600px;
  width: 600px;
  background: url(/Workouts/img/bardock.jpg) no-repeat center center/ cover;
  margin: 6rem auto;
}
.wod-title {
  text-align: center;
  padding: 0.7rem;
}
.wo-list {
  padding: 0.5rem;
  margin-left: 0.5rem;
  list-style-type: none;
}
p {
  padding-left: 0.5rem;
}
